* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  transition: all 0.8s;
}
.header_parent {
  transition: all 0.8s;
  background-color: rgb(16, 16, 16);
  height: 55px;
  padding: 0 55px 0 55px;
  display: flex;
  align-items: center;
  color: white;
  position: sticky;
  /* top: 0;
  left: 0; */
  z-index: 100;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.9s;
}

.header_parent_show {
  /* position: sticky; */
  top: 0;
  transition: all 0.3s ease-out;
}

.header_parent_hide {
  /* position: sticky; */
  top: -60px;
  transition: all 0.3s ease-out;
}

.social-bar {
  display: flex;
  gap: 19px;
  /* margin-right: auto; */
  text-decoration: none;
  color: white;
}

.social-icon-parent {
}

.social-icon {
  color: white;
  font-size: 28px;
}

.menu-parent {
  display: flex;
  gap: 19px;
}

.menu-item {
}

.hero-outer-section {
  background-color: rgba(7, 32, 79, 0.899);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-inner-section {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* min-width: 400px;     /////////////////////// */
  flex-wrap: wrap;
}
.avatar {
  border-radius: 50%;
  width: 100px;
}

.avatar-name {
  color: rgba(255, 255, 255, 0.894);
  font-weight: 600;
  margin-top: 10px;
}

.avatar-message {
  color: rgba(255, 255, 255, 0.913);
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  line-height: 50px;
}

/* Project section */

.projects-outer {
  background-color: rgba(5, 52, 5, 0.856);
  padding: 10px 50px 50px 50px;
  transition: all 0.9s;
}

.project-heading {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
}

.projects-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.9s;
}

.project-card {
  background-color: white;
  /* width: 100%; */
  border-radius: 10px 10px 10px 10px;
  flex-basis: 49%;
  margin-top: 70px;
  transition: all 0.9s;
}

.project-card-image {
  width: 100%;
  border-radius: 10px 10px 15px 15px;
}

.project-card-info {
  padding: 0px 35px 0 15px;
}
.project-card-name {
  color: rgba(0, 0, 0, 0.868);
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.project-card-discription {
  margin-top: 20px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.489);
}

.see-more {
  color: rgba(0, 0, 0, 0.489);
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.arrow-right {
  padding-left: 5px;
  color: black;
}

/* contact form */

.contact-form-outer {
  padding: 80px 0px 300px 0px;
  background-color: rgba(46, 18, 171, 0.824);
  color: rgba(255, 255, 255, 0.852);
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  /* padding: 10px 0 0 10px; */
  min-width: 100%;
}

.contact-header {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.772);
  font-weight: bold;
}

.contact-form-inner {
  width: 53%;
  margin: 0 auto;
  /* min-width: 450px; */
}

.input {
  width: 100%;
  background-color: rgba(64, 41, 167, 0.236);
  border: rgba(255, 255, 255, 0.669) 2px solid;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 20px;
  color: white;
  transition: all 0.5s;
  margin-top: 10px;
}

.input:focus {
  border: rgb(255, 255, 255) 2px solid;
  outline: 0px;
}

.error-comp {
  position: absolute;
  top: 70px;
}

.error {
  color: rgb(253, 75, 75);
  text-shadow: rgba(0, 0, 0, 0.618) 1px 1px 5px;
}

.input-label {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.input-error {
  border: red solid 2px;
}

.input-type {
  font-size: 18px;
  width: 100%;
  background-color: rgba(64, 41, 167, 0.236);
  height: 40px;
  color: white;
  border: rgba(255, 255, 255, 0.674) 2px solid;
  outline: 0px solid;
  margin-top: 8px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.866);
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  color: rgba(37, 33, 33, 0.983);
  font-weight: bold;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.error-comp-m {
  top: 230px;
}
.footer {
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.884);
  color: rgba(255, 255, 255, 0.707);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 516px) {
  .social-bar {
    width: 100%;
    justify-content: center;
  }
  .menu-parent {
    width: 100%;
    justify-content: center;
    padding: 10px 0 10px 0;
  }
  .header_parent {
    height: 100px;
  }
}

@media only screen and (max-width: 647px) {
  .project-card {
    width: 100%;
  }
}

@media only screen and (max-width: 356px) {
  .hero-inner-section {
    width: 100%;
  }
}
@media screen and (min-width: 356px) and (max-width: 642px) {
  .hero-inner-section {
    width: 90%;
  }
}

@media only screen and (min-width: 642px) and (max-width: 1035px) {
  .hero-inner-section {
    width: 50%;
  }
}

@media only screen and (min-width: 1035px) {
  .hero-inner-section {
    width: 30%;
  }
}

@media only screen and (max-width: 684px) {
  .project-card {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 490px) {
  .projects-outer {
    padding: 10px 20px 50px 20px;
  }
}

@media only screen and (max-width: 650px) {
  .contact-form-inner {
    width: 80%;
  }
}
